@charset "UTF-8";
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}

::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: transparent;
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Código */
.header {
  width: 100%;
  background: #DCE9E2;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.header .wrapper {
  width: 90%;
  max-width: 120rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header .button {
  display: none;
  cursor: pointer;
}
.header .button .svg {
  width: 2em;
  height: 2em;
  fill: white;
}
.header .nav {
  width: 90%;
  display: flex;
}
.header .nav .ul {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header .nav .ul .li {
  margin: 0 0.5em;
}
.header .nav .redes {
  display: none;
}
.header .botao {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 16px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .header .wrapper {
    width: 90%;
    max-width: 120rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .header .wrapper .container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .header .button {
    display: block;
  }
  .header .button .svg2 {
    display: none;
  }
  .header .nav { /*quando o botão não estiver ativo */
    width: 100%;
    /* display: none;*/
    overflow: hidden;
    pointer-events: none; /*para não ter efeito no mouse*/
    height: 0vh;
    transition: all 0.5s ease-in-out;
    background: #00856f;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .header .nav .ul {
    flex-direction: column;
    gap: 1rem;
    padding-top: 5rem;
  }
  .header .nav .ul .li {
    margin: 1em 0;
  }
  .header .nav .redes {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  .header .nav .redes ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
  }
  .header .nav .botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    gap: 16px;
    color: #00856F;
    /* Secondary Colors/White */
    background: #FFFFFF;
    border-radius: 40px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
    text-transform: uppercase;
  }
  .header .nav.activo { /*quando o botão estiver ativo */
    /*para suavizar o efeito apenas retirei a altura e depois adicionei com um transition */
    /*display: block;*/
    height: 80vh;
    pointer-events: auto;
    background: #00856f;
  }
  .header.activo {
    background: #00856f;
  }
  .header.activo svg:nth-child(1) path {
    fill: white;
  }
  .header.activo .button .svg1 {
    display: none;
  }
  .header.activo .button .svg2 {
    display: block;
  }
  .header.activo .button svg:nth-child(1) path {
    fill: white;
  }
}
.nav ul li a {
  color: var(--brand-light2);
  opacity: 0.6;
}
.nav a.button {
  border-color: white;
  color: white;
}
.nav li a {
  transition: opacity 0.4s;
}
.nav li a:active,
.nav li a:hover {
  opacity: 1;
  font-weight: 700;
}
.nav li a::after {
  content: "";
  width: 0;
  height: 2px;
  left: -0.5rem;
  background-color: var(--primary-color);
  position: relative;
  bottom: -2rem;
  display: block;
  transition: width 0.2s;
}
.nav ul li a::after {
  background-color: red;
}
.nav li a:hover::after {
  padding-inline: 0.8rem;
  width: 100%;
}
.nav ul li a:active,
.nav ul li a:hover {
  opacity: 1;
}
.nav a.button:active,
.nav a.button:hover {
  background-color: var(--primary-color);
  filter: brightness(1.3);
  border: none;
}
.nav a.button:hover {
  background-color: var(--primary-color);
  border: none;
  color: white;
}/*# sourceMappingURL=index.css.map */